.search-field-button {
  align-items: center;
  background: rgba(0, 0, 0, 0.2) url("../../../images/overlay-pattern.png");
  border-bottom: 1px solid #00525e;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font: 500 14px "Roboto", sans-serif;
  display: inline-flex;
  height: 35px;
  text-transform: uppercase;
  max-width: 160px;
  justify-content: center;
  width: 50%
}
.search-field-button:hover {
  background: #00525e;
}